.base-general-balance {
  .button-container {
    position: absolute;
    top: rem-calc(10);
    #{$opposite-direction}: rem-calc(20);
  }

  .grid {
    .row {
      display: flex;
      font-size: $font-size-normal;

      .columns {
        display: inline-flex;
        align-items: flex-end;

        &.currency {
          justify-content: flex-end;
        }
      }

      &.title {
        .columns {
          display: block !important;
        }
      }
    }
  }
}