.ftue {
  position: absolute;
  top: rem-calc(-140);
  #{$default-float}: 0;
  width: rem-calc(250);
  min-height: rem-calc(130);
  padding: rem-calc(10);
  font-size: $font-size-normal;
  border: 1px solid $border-color-medium;
  border-radius: rem-calc(3);
  background-color: $background-inverse-light;
  color: $text-color-white;
  z-index: 1003;
  cursor: pointer;

  .dismiss {
    position: absolute;
    top: rem-calc(10);
    color: $text-color-xlight;
  }

  &.in-modal {
    z-index: 1998;

    .ftue-overlay {
      z-index: 1999;
    }
  }

  &:before {
    position: absolute;
    border: inset rem-calc(11);
    content: '';
    display: block;
    height: 0;
    width: 0;
    z-index: 2004;
  }

  &:after {
    position: absolute;
    border: inset rem-calc(12);
    content: '';
    display: block;
    height: 0;
    width: 0;
    z-index: 2005;
  }

  &.bottom {
    top: rem-calc(36);

    &:before {
      top: rem-calc(-22);
      border-color: transparent transparent $border-color-medium transparent;
      border-bottom-style: solid;
    }

    &:after {
      top: rem-calc(-23);
      border-color: transparent transparent $background-inverse-light transparent;
      border-bottom-style: solid;
    }

    .highlight, .highlight-2 {
      top: rem-calc(-34);
    }
  }

  &.top {
    &:before {
      top: rem-calc(128);
      border-color: $border-color-medium transparent transparent transparent;
      border-top-style: solid;
    }

    &:after {
      top: rem-calc(127);
      border-color: $background-inverse-light transparent transparent transparent;
      border-top-style: solid;
    }
  }

  &.left {
    &:before {
      #{$default-float}: rem-calc(10);
    }

    &:after {
      #{$default-float}: rem-calc(9);
    }

    .highlight, .highlight-2 {
      #{$default-float}: rem-calc(11);
    }

    .dismiss {
      #{$opposite-direction}: rem-calc(10);
    }
  }

  &.right {
    #{$default-float}: rem-calc(-200);

    &:before {
      #{$opposite-direction}: rem-calc(10);
    }

    &:after {
      #{$opposite-direction}: rem-calc(9);
    }

    .highlight, .highlight-2 {
      #{$default-float}: rem-calc(217);
    }

    .dismiss {
      #{$default-float}: rem-calc(10);
    }
  }

  &.center {
    #{$default-float}: rem-calc(-100);

    &:before {
      #{$default-float}: calc(50% #{'-'} #{rem-calc(12)});
    }

    &:after {
      #{$default-float}: calc(50% #{'-'} #{rem-calc(12)});
    }

    .highlight, .highlight-2 {
      #{$default-float}: rem-calc(114);
    }

    .dismiss {
      #{$opposite-direction}: rem-calc(10);
    }
  }

  .icon {
    font-size: $font-size-xxlarge;
    text-align: center;
    color: $warning-color;
    text-shadow: 0 0 rem-calc(20) $warning-color;
  }

  .ftue-content {
    padding-top: rem-calc(10);
    text-align: center;
  }

  .highlight {
    position: absolute;
    width: rem-calc(20);
    height: rem-calc(20);
    background-color: $background-inverse-light;
    top: rem-calc(140);
    border-radius: rem-calc(500);
    -webkit-animation: pulse-highlight 1000ms infinite;
    -webkit-animation-timing-function: ease-in-out;

    @at-root {
      @-webkit-keyframes pulse-highlight {
        0% {
          transform: scale(1);
          opacity: 0.5;
        }
        25% {
          transform: scale(1.05);
          opacity: 0.6;
        }
        50% {
          transform: scale(1.1);
          opacity: 0.7;
        }
        75% {
          transform: scale(1.05);
          opacity: 0.6;
        }
        100% {
          transform: scale(1);
          opacity: 0.7;
        }
      }
    }
  }

  .highlight-2 {
    position: absolute;
    width: rem-calc(20);
    height: rem-calc(20);
    background-color: transparent;
    top: rem-calc(140);
    border: 3px solid $background-inverse-light;
    border-radius: rem-calc(500);
    -webkit-animation: pulse-highlight-2 1000ms infinite;
    -webkit-animation-timing-function: ease-in-out;

    @at-root {
      @-webkit-keyframes pulse-highlight-2 {
        0% {
          transform: scale(1);
          opacity: 0.8;
        }
        25% {
          transform: scale(1.2);
          opacity: 0.6;
        }
        50% {
          transform: scale(1.4);
          opacity: 0.4;
        }
        75% {
          transform: scale(1.7);
          opacity: 0.2;
        }
        100% {
          transform: scale(2);
          opacity: 0;
        }
      }
    }
  }

  .ftue-overlay {
    position: fixed;
    top: 0;
    #{$default-float}: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    z-index: 1004;
  }
}