<div class="base-playground">
  <h1 ax-translate>features.playground.title</h1>
  <span ax-translate>features.playground.pageText</span>
  <div class="row">
    <div class="columns small-centered small-12 medium-10 large-8 panel clearfix">
      <ul class="item-list">
        <li ng-repeat="item in items">
          <div ng-if="item._id !== editingItem">
            <span class="identifier">{{item._id}}</span>
            <span>{{item.name}}</span><br>
            <button class="tiny" ng-click="onDeleteItemClicked(item._id)" ax-translate-attrs="{'aria-label': 'global.delete'}">
              <i class="fi-trash"></i>
              <span ax-translate>global.delete</span>
            </button>
            <button class="tiny" ng-click="onEditItemClicked(item._id)" ax-translate-attrs="{'aria-label': 'global.edit'}">
              <i class="fi-pencil"></i>
              <span ax-translate>global.edit</span>
            </button>
          </div>
          <div ng-if="item._id === editingItem">
            <input id="edit-item-{{item._id}}" type="text" value="{{item.name}}" 
                   ax-translate-attrs="{'placeholder': 'features.playground.newPlaceholder', 'aria-label': 'features.playground.newPlaceholder'}"
                   ax-key-handler="{'enter': '.edit-pg-save-button', 'esc': '.edit-pg-cancel-button'}"></input>
            <div class="edit-item-controls">
              <button class="edit-pg-cancel-button tiny" ng-click="onCancelEditItemClicked()" ax-translate-attrs="{'aria-label': 'global.cancel'}">
                <i class="fi-x"></i>
                <span ax-translate>global.cancel</span>
              </button>
              <button class="edit-pg-save-button tiny" ng-click="onSaveItemClicked()" ax-translate-attrs="{'aria-label': 'global.save'}">
                <i class="fi-check"></i>
                <span ax-translate>global.save</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
      <div class="new-item" ng-if="addingItem">
        <input id="new-item" type="text" ax-translate-attrs="{'placeholder': 'features.playground.newPlaceholder', 'aria-label': 'features.playground.newPlaceholder'}"
               ax-key-handler="{'enter': '.new-pg-save-button', 'esc': '.new-pg-cancel-button'}"></input>
        <div class="new-item-controls">
          <button class="new-pg-cancel-button tiny" ng-click="onCancelAddItemClicked()" ax-translate-attrs="{'aria-label': 'global.cancel'}">
            <i class="fi-x"></i>
            <span ax-translate>global.cancel</span>
          </button>
          <button class="new-pg-save-button tiny" ng-click="onConfirmAddItemClicked()" ax-translate-attrs="{'aria-label': 'global.ok'}">
            <i class="fi-check"></i>
            <span ax-translate>global.ok</span>
          </button>
        </div>
      </div>
      <div class="right">
        <button ng-click="onClearClicked()" ax-translate-attrs="{'aria-label': 'global.clear'}">
          <i class="fi-prohibited"></i>
          <span ax-translate>global.clear</span>
        </button>
        <button ng-click="onAddItemClicked()" ax-translate-attrs="{'aria-label': 'global.add'}">
          <i class="fi-plus"></i>
          <span ax-translate>global.add</span>
        </button>
      </div>
    </div>
  </div>
  <div class="grid" ax-grid>
    <div class="row">
      <div class="columns editable small-12">
        <div class="row">
          <div class="columns small-1">
            <input type="text">
          </div>
          <div class="columns small-3">
            <ax-autocomplete db="accounts" field="key">
              <input type="text" class="wadup">
            </ax-autocomplete>
          </div>
          <div class="columns small-4">
            <ax-autocomplete db="accounts" field="name">
              <input type="text">
            </ax-autocomplete>
          </div>
          <div class="columns small-2">
            <input type="text">
          </div>
          <div class="columns small-2">
            <input type="text">
          </div>
        </div>
        <div class="row">
          <div class="columns small-1">
            <input type="text">
          </div>
          <div class="columns small-3">
            <ax-autocomplete db="accounts" field="key">
              <input type="text">
            </ax-autocomplete>
          </div>
          <div class="columns small-4">
            <ax-autocomplete db="accounts" field="name">
              <input type="text">
            </ax-autocomplete>
          </div>
          <div class="columns small-2">
            <input type="text">
          </div>
          <div class="columns small-2">
            <input type="text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>