<div class="playground">
  <h1>Playground</h1>
  <span>Save and load data in here</span>
  <div class="row">
    <div class="columns small-6 panel">
      <ul class="item-list">
        <li ng-repeat="item in items">
          <button><i class="fi-social-windows"></i></button>
          <span>{{item.name}}</span>
        </li>
      </ul>
      <button class="right"><i class="fi-plus"></i> New</button>
    </div>
    <div class="columns small-6 panel">
      <ul class="item-list">
        <li ng-repeat="item in items2">
          <span>{{item.name}}</span>
        </li>
      </ul>
      <button class="right"><i class="fi-plus"></i> New</button>
    </div>
  </div>
</div>