.grid {
  .row {
    border-top: 1px dotted $border-color-medium;

    &:last-child {
      border-bottom: 1px dotted $border-color-medium;
    }

    &.title {
      &.main {
        text-align: center;
        font-weight: $weight-bold;
      }

      .columns {
        background-color: $background-medium;
        color: $text-color-white;
        font-size: $font-size-normal;

        .selected {
          & > span:before {
            font-size: $font-size-small;
            content: '\25b2';
            padding-top: rem-calc(2);
            float: #{$opposite-direction};
          }

          &.reverse {
            & > span:before {
              content: '\25bc';
            }
          }
        }
      }
    }

    .columns {
      background-color: $background-white;
      border-#{$default-float}: 1px dotted $border-color-medium;

      &.thick-border {
        &:after {
          position: absolute;
          background-color: $border-color-medium;
          content: ' ';
          top: 0;
          #{$opposite-direction}: rem-calc(-2);
          width: rem-calc(4);
          height: 100%;
          z-index: 200;
        }
      }

      &.currency {
        text-align: $opposite-direction;
      }

      &:last-child {
        border-#{$opposite-direction}: 1px dotted $border-color-medium;
      }
    }

    .columns:not(.editable) {
      div {
        @include ellipsis;
      }
    }
  }

  .editable {
    min-width: rem-calc(500) !important;
    //overflow-x: auto; //not working properly yet

    .row {
      display: inline-block;

      .autocomplete {
        margin-top: 0 !important;
      }

      .columns {
        padding: 0;

        &.currency {
          input {
            text-align: $opposite-direction;
          }

          &:before {
            position: absolute;
            top: rem-calc(2);
            #{$default-float}: rem-calc(2);
            content: '$';
            font-size: $font-size-normal;
            color: $text-color-light;
          }
        }
      }

      input {
        margin: 0;
        font-size: $font-size-normal;
        height: rem-calc(24);
        width: 100%;
        border: 0;

        &.invalid.ng-touched {
          background-color: $alert-color-lt;
        }

        &:focus {
          border: 1px solid $primary-color;
        }
      }
    }
  }
}