$anim-start: 0;
$anim-mid: 0.25;
$anim-end: 1;
$anim-duration: 300ms;

body {
  color: $text-color;
  background-color: $background-light;
  font-family: $font-family-sans-serif;

  .loading {
    position: absolute;
    top: 0;
    #{$default-float}: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: rgba($background-inverse, 0.5);
    z-index: 5;

    .squares-left, .squares-right {
      &:before, &:after {
        position: absolute;
        width: rem-calc(20);
        height: rem-calc(20);
        opacity: 0;
        content: ' ';
        background-color: $background-white;
      }
    }

    .squares-left {
      &:before {
        top: calc(50% #{"-"} #{rem-calc(20)});
        #{$default-float}: calc(50% #{"-"} #{rem-calc(20)});
        -webkit-animation: dot-pulse $anim-duration infinite;
      }

      &:after {
        top: 50%;
        #{$default-float}: calc(50% #{"-"} #{rem-calc(20)});
        -webkit-animation: dot-pulse-2 $anim-duration infinite;
      }
    }

    .squares-right {
      &:before {
        top: calc(50% #{"-"} #{rem-calc(20)});
        #{$default-float}: 50%;
        -webkit-animation: dot-pulse-4 $anim-duration infinite;
      }

      &:after {
        top: 50%;
        #{$default-float}: 50%;
        -webkit-animation: dot-pulse-3 $anim-duration infinite;
      }
    }

    @at-root {
      @-webkit-keyframes dot-pulse {
        0%   { opacity: $anim-start; }
        25%  { opacity: $anim-mid;   }
        50%  { opacity: $anim-end;   }
        75%  { opacity: $anim-mid;   }
        100% { opacity: $anim-start; }
      }

      @-webkit-keyframes dot-pulse-2 {
        0%   { opacity: $anim-mid;   }
        25%  { opacity: $anim-end;   }
        50%  { opacity: $anim-mid;   }
        75%  { opacity: $anim-start; }
        100% { opacity: $anim-start; }
      }

      @-webkit-keyframes dot-pulse-3 {
        0%   { opacity: $anim-end;   }
        25%  { opacity: $anim-mid;   }
        50%  { opacity: $anim-start; }
        75%  { opacity: $anim-start; }
        100% { opacity: $anim-mid;   }
      }

      @-webkit-keyframes dot-pulse-4 {
        0%   { opacity: $anim-start; }
        25%  { opacity: $anim-start; }
        50%  { opacity: $anim-mid;   }
        75%  { opacity: $anim-end;   }
        100% { opacity: $anim-mid;   }
      }
    }
  }
}

h1 {
  color: $text-color-medium;
  font-size: $font-size-xxlarge;

  @media #{$small-only} {
    font-size: $font-size-xlarge;
  }
}

.menu-items {
  display: none;
}

.main-content {
  padding: rem-calc(10);
}

button {
  transition: color $transition-time, background-color $transition-time;
}

.row {
  &.full {
    max-width: initial;
  }
}