body {
  color: $text-color;
  background-color: $background-light;
}

h1 {
  color: $text-color-medium;
}

.main-content {
  padding: rem-calc(10);
}

button {
  transition: color $transition-time, background-color $transition-time;
}