<div class="reveal-modal confirm-modal large" id="confirm-modal" role="dialog" data-reveal ng-class="options.kind">
  <div class="modal-content">
    <i ng-if="options.icon" ng-class="options.icon" class="size-48"></i>
    <p>{{options.label}}</p>
  </div>
  <div class="controls">
    <button class="secondary" ng-click="dismiss();" aria-label="{{options.cancelLabel}}">
      <i class="fi-x"></i>
      <span>{{options.cancelLabel}}</span>
    </button>
    <button class="primary confirm-modal-confirm" ng-click="confirmAction();" aria-label="{{options.confirmLabel}}">
      <i class="fi-check"></i>
      <span>{{options.confirmLabel}}</span>
    </button>
  </div>
  <a class="close-reveal-modal" ng-click="dismiss();" ax-translate-attrs="{'aria-label': 'global.close'}">&#215;</a>
</div>