<div class="reveal-modal large" id="confirm-modal" role="dialog" data-reveal>
  <button class="secondary" ng-click="dismiss();" 
  ax-translate-attrs="{'aria-label': 'global.cancel'}">
    <i class="fi-check"></i>
    <span ax-translate>global.cancel</span>
  </button>
  <button ng-click="confirmAction();" ax-translate-attrs="{'aria-label': 'global.delete'}">
    <i class="fi-check"></i>
    <span ax-translate>global.delete</span>
  </button>
  <a class="close-reveal-modal" ng-click="dismiss();" ax-translate-attrs="{'aria-label': 'global.close'}">&#215;</a>
</div>