.base-catalogs {
  h1 {
    .heading-title {
      &:after {
        position: absolute;
        top: rem-calc(28);
        margin-#{$default-float}: rem-calc(5);
        content: '|';
        color: $text-color-medium;
        font-size: $font-size-xlarge;
      }
    }

    .filter {
      position: absolute;
      top: rem-calc(28);
      margin-#{$default-float}: rem-calc(20);
      color: $text-color-light;
      font-size: $font-size-xlarge;

      select {
        position: absolute;
        #{$default-float}: 0;
        opacity: 0;
      }
    }
  }

  .button-container {
    position: absolute;
    top: rem-calc(10);
    #{$opposite-direction}: rem-calc(20);
  }

  .tabs {
    margin-#{$default-float}: rem-calc(-10);
    margin-#{$opposite-direction}: rem-calc(10);
    margin-top: rem-calc(-10);
  }

  .tabs-content {
    padding-#{$default-float}: rem-calc(10);

    @media #{$medium-up} {
      position: absolute;
      #{$opposite-direction}: rem-calc(10);
      top: rem-calc(-10);
      width: 80%;
      min-height: rem-calc(300);
      background-color: $background-white;
    }
  }
}