.base-catalogs {
  .button-container {
    position: absolute;
    top: rem-calc(10);
    #{$opposite-direction}: rem-calc(20);

    @media #{$small-only} {
      position: relative;
      margin-#{$default-float}: rem-calc(20);
    }

    .f-dropdown {
      display: block;
      position: absolute;
      #{$default-float}: 0;
      top: rem-calc(55);

      @media print {
        display: none;
      }
    }
  }

  .tabs {
    margin-#{$default-float}: rem-calc(-10);
    margin-#{$opposite-direction}: rem-calc(10);
    margin-top: rem-calc(-10);
  }

  .tabs-content {
    padding-#{$default-float}: rem-calc(10);

    @media #{$medium-up} {
      position: absolute;
      #{$opposite-direction}: rem-calc(10);
      top: rem-calc(-10);
      width: 80%;
      min-height: rem-calc(300);
      background-color: $background-white;
    }
  }

  .account-card {
    margin: rem-calc(10);
    padding: rem-calc(20);
    padding-top: rem-calc(7);
    padding-bottom: 0;
    background-color: $background-white;
    border: 1px solid $border-color-semi-light;
    width: calc(20% #{'-'} #{rem-calc(20)});
    height: rem-calc(130);

    @for $i from 1 through length($global-colors) {
      &.account-color-#{$i} {
        border-top: 3px solid nth($global-colors, $i);
      }
    }

    @media #{$small-only} {
      width: calc(100% #{'-'} #{rem-calc(20)});
    }

    @media #{$medium-only} {
      width: calc(33% #{'-'} #{rem-calc(20)});
    }

    .controls {
      text-align: $opposite-direction;
      margin-top: rem-calc(30);
    }

    .account-title {
      @include ellipsis;
    }

    .account-key {
      @include ellipsis;
      font-size: $font-size-small;
    }

    &.tree-view {
      height: rem-calc(80);

      .controls {
        margin-top: rem-calc(-20);
      }

      .account-title {
        width: calc(100% #{'-'} #{rem-calc(130)});
      }
    }

    &.level-1 {
      margin-#{$default-float}: 0;
      width: calc(100% #{'-'} #{rem-calc(20)});
    }

    &.level-2 {
      margin-#{$default-float}: rem-calc(40);
      width: calc(100% #{'-'} #{rem-calc(60)});
    }

    &.level-3 {
      margin-#{$default-float}: rem-calc(80);
      width: calc(100% #{'-'} #{rem-calc(100)});
    }

    &.level-4 {
      margin-#{$default-float}: rem-calc(120);
      width: calc(100% #{'-'} #{rem-calc(140)});
    }    
  }
}