<div class="base-catalogs">
  <h1 class="header-with-filter">
    <span class="heading-title" ax-translate>features.accounts.title</span>
    <span class="filter">
      <span>{{catalogs.selectedFilterName}}</span>
      <select class="catalog-filter" ng-model="catalogs.selectedFilter" ng-change="setSelectedFilter();">
        <option value="all" ax-translate>features.accounts.all.title</option>
        <option value="general" ax-translate>features.accounts.general.title</option>
        <option value="categories" ax-translate>features.accounts.categories.title</option>
        <option value="accounts" ax-translate>features.accounts.accounts.title</option>
        <option value="sub-accounts" ax-translate>features.accounts.sub-accounts.title</option>
        <option value="tree-view" ax-translate>features.accounts.tree-view.title</option>
      </select>
      <i class="fi-filter"></i>
    </span>
  </h1>
  <div class="button-container">
    <div ng-if="catalogs.selectedFilter == 'all' || catalogs.selectedFilter == 'tree-view'">
      <button ng-click="onAddAccountWithMenuClicked()"
              ax-translate-attrs="{'aria-label': 'global.add'}">
        <i class="fi-plus"></i>
        <span ax-translate>global.add</span>
      </button>
      <ul id="acc-level-select" class="f-dropdown" ng-if="menuVisible">
        <li><a tabindex="0" ng-click="onAddAccountClicked(1)" ax-enter-click ax-translate>features.accounts.general.singular</a></li>
        <li><a tabindex="0" ng-click="onAddAccountClicked(2)" ax-enter-click ax-translate>features.accounts.categories.singular</a></li>
        <li><a tabindex="0" ng-click="onAddAccountClicked(3)" ax-enter-click ax-translate>features.accounts.accounts.singular</a></li>
        <li><a tabindex="0" ng-click="onAddAccountClicked(4)" ax-enter-click ax-translate>features.accounts.sub-accounts.singular</a></li>
      </ul>
    </div>
    <div ng-if="catalogs.selectedFilter != 'all' && catalogs.selectedFilter != 'tree-view'">
      <button ng-click="onAddAccountClicked()" ax-translate-attrs="{'aria-label': 'global.add'}">
        <i class="fi-plus"></i>
        <span ax-translate>global.add</span>
      </button>
    </div>
  </div>
  
  <div class="row full">
    <div class="columns small-12">
      <div class="content">
        <p ng-if="catalogs.selectedFilter === 'all'" ax-translate>features.accounts.all.description</p>
        <p ng-if="catalogs.selectedFilter === 'general'" ax-translate>features.accounts.general.description</p>
        <p ng-if="catalogs.selectedFilter === 'categories'" ax-translate>features.accounts.categories.description</p>
        <p ng-if="catalogs.selectedFilter === 'accounts'" ax-translate>features.accounts.accounts.description</p>
        <p ng-if="catalogs.selectedFilter === 'sub-accounts'" ax-translate>features.accounts.sub-accounts.description</p>
        <p ng-if="catalogs.selectedFilter === 'tree-view'" ax-translate>features.accounts.tree-view.description</p>
        <div class="small-block-grid-1 medium-block-grid-3 large-block-grid-5" ng-if="catalogs.selectedFilter !== 'tree-view'">
          <li class="account-card account-color-{{item.color}}" ng-repeat="item in items | filter: (!!catalogs.level || undefined) && {level: catalogs.level }">
            <ax-account-card on-edit-account-clicked="onEditAccountClicked(item)" item="item" 
                             on-delete-account-clicked="onDeleteAccountClicked(item)"
                             on-add-child-clicked="onAddChildClicked(item)"></ax-account-card>
          </li>
        </div>
        <div class="small-block-grid-1" ng-if="catalogs.selectedFilter === 'tree-view'">
          <li class="account-card tree-view account-color-{{item.color}} level-{{item.level}}"
              ng-if="!item.hide" ng-repeat="item in items | orderBy: 'fullTree'">
            <ax-account-card item="item" tree-view="true"
                             on-edit-account-clicked="onEditAccountClicked(item)"
                             on-delete-account-clicked="onDeleteAccountClicked(item)"
                             on-add-child-clicked="onAddChildClicked(item)"
                             on-collapse-clicked="onCollapseClicked(item)"
                             on-expand-clicked="onExpandClicked(item)"></ax-account-card>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>