<div class="base-catalogs">
  <h1>
    <span class="heading-title" ax-translate>features.catalogs.title</span>
    <span class="filter">
      <span>{{catalogs.selectedFilterName}}</span>
      <select class="catalog-filter" ng-model="catalogs.selectedFilter" ng-change="setSelectedFilter();">
        <option value="all" ax-translate>features.catalogs.all</option>
        <option value="general" ax-translate>features.catalogs.general</option>
        <option value="categories" ax-translate>features.catalogs.categories</option>
        <option value="accounts" ax-translate>features.catalogs.accounts</option>
        <option value="sub-accounts" ax-translate>features.catalogs.sub-accounts</option>
        <option value="tree-view" ax-translate>features.catalogs.tree-view</option>
      </select>
      <i class="fi-filter"></i>
    </span>
  </h1>
  <div class="button-container">
    <div ng-if="catalogs.selectedFilter == 'all' || catalogs.selectedFilter == 'tree-view'">
      <button data-dropdown="acc-level-select" aria-controls="acc-level-select"
              ax-translate-attrs="{'aria-label': 'global.add'}">
        <i class="fi-plus"></i>
        <span ax-translate>global.add</span>
      </button>
      <ul id="acc-level-select" class="f-dropdown" data-dropdown-content>
        <li><a tabindex="0" ng-click="onAddAccountClicked(1)" ax-translate>features.catalogs.general</a></li>
        <li><a tabindex="0" ng-click="onAddAccountClicked(2)" ax-translate>features.catalogs.category</a></li>
        <li><a tabindex="0" ng-click="onAddAccountClicked(3)" ax-translate>features.catalogs.account</a></li>
        <li><a tabindex="0" ng-click="onAddAccountClicked(4)" ax-translate>features.catalogs.sub-account</a></li>
      </ul>
    </div>
    <div ng-if="catalogs.selectedFilter != 'all' && catalogs.selectedFilter != 'tree-view'">
      <button ng-click="onAddAccountClicked()" ax-translate-attrs="{'aria-label': 'global.add'}">
        <i class="fi-plus"></i>
        <span ax-translate>global.add</span>
      </button>
    </div>
  </div>
  
  <div class="row full">
    <div class="columns small-12">
      <div class="content">
        <p ng-if="catalogs.selectedFilter === 'all'" ax-translate>features.catalogs.all.description</p>
        <p ng-if="catalogs.selectedFilter === 'general'" ax-translate>features.catalogs.general.description</p>
        <p ng-if="catalogs.selectedFilter === 'categories'" ax-translate>features.catalogs.categories.description</p>
        <p ng-if="catalogs.selectedFilter === 'accounts'" ax-translate>features.catalogs.accounts.description</p>
        <p ng-if="catalogs.selectedFilter === 'sub-accounts'" ax-translate>features.catalogs.sub-accounts.description</p>
        <p ng-if="catalogs.selectedFilter === 'tree-view'" ax-translate>features.catalogs.tree-view.description</p>
        <div class="small-block-grid-1 medium-block-grid-3 large-block-grid-5" ng-if="catalogs.selectedFilter !== 'tree-view'">
          <li class="account-card account-color-{{item.color}}" ng-repeat="item in items | filter: (!!catalogs.level || undefined) && {level: catalogs.level }">
            <ax-account-card on-edit-account-clicked="onEditAccountClicked(item)" item="item" 
                             on-delete-account-clicked="onDeleteAccountClicked(item)"
                             on-add-child-clicked="onAddChildClicked(item)"></ax-account-card>
          </li>
        </div>
        <div class="small-block-grid-1" ng-if="catalogs.selectedFilter === 'tree-view'">
          <li class="account-card account-color-{{item.color}} level-{{item.level}}" ng-repeat="item in items | orderBy: 'fullTree'">
            <ax-account-card on-edit-account-clicked="onEditAccountClicked(item)" item="item"
                             on-delete-account-clicked="onDeleteAccountClicked(item)"
                             on-add-child-clicked="onAddChildClicked(item)"></ax-account-card>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>