.base-vouchers {
  .button-container {
    position: absolute;
    top: rem-calc(10);
    #{$opposite-direction}: rem-calc(20);

    .f-dropdown {
      display: block;
      position: absolute;
      top: rem-calc(55);
      #{$default-float}: 0;

      @media print {
        display: none;
      }
    }

    @media #{$small-only} {
      position: relative;
      margin-#{$default-float}: rem-calc(20);
    }

    @media #{$medium-up} {
      .f-dropdown {
        #{$default-float}: rem-calc(-90) !important;
        width: rem-calc(200);

        &:before {
          #{$default-float}: rem-calc(170) !important;
        }

        &:after {
          #{$default-float}: rem-calc(169) !important;
        }
      }
    }
  }

  .search-field {
    position: relative;

    i {
      position: absolute;
      top: 0;
      #{$default-float}: 0;
      padding: rem-calc(10);
      color: $text-color-xlight;
    }

    input {
      padding-#{$default-float}: rem-calc(30);
    }
  }

  .date-filter {
    .small-6 {
      padding-#{$opposite-direction}: rem-calc(10);
      margin-#{$opposite-direction}: rem-calc(-10);
    }
  }

  .grid-ftue {
    position: absolute;
    #{$default-float}: calc(50% #{'-'} #{rem-calc(25)});
  }

  .voucher-list {
    @media #{$small-only} {
      font-size: $font-size-small;
    }

    @media #{$medium-only} {
      font-size: $font-size-normal;
    }
  }
}