.base-vouchers {
  .search-field {
    position: relative;

    i {
      position: absolute;
      top: 0;
      #{$default-float}: 0;
      padding: rem-calc(10);
      color: $text-color-xlight;
    }

    input {
      padding-#{$default-float}: rem-calc(30);
    }
  }

  .voucher-list {
    .row {
      border-top: 1px dotted $border-color-medium;

      &:last-child {
        border-bottom: 1px dotted $border-color-medium;
      }

      &.title {
        .columns {
          background-color: $background-medium;
          color: $text-color-white;

          .selected {
            & > span:before {
              font-size: $font-size-small;
              content: '\25b2';
              padding-top: rem-calc(2);
              float: #{$opposite-direction};
            }

            &.reverse {
              & > span:before {
                content: '\25bc';
              }
            }
          }
        }
      }

      .columns {
        background-color: $background-white;
        border-#{$default-float}: 1px dotted $border-color-medium;

        div {
          @include ellipsis;
        }

        &:last-child {
          border-#{$opposite-direction}: 1px dotted $border-color-medium;
        }
      }
    }
  } 
}