<div class="base-vouchers">
  <h1 class="header-with-filter">
    <span class="heading-title" ax-translate>features.vouchers.title</span>
    <span class="filter">
      <span>{{vouchers.selectedFilterName}}</span>
      <select class="voucher-filter" ng-model="vouchers.selectedFilter" ng-change="setSelectedFilter();">
        <option value="all" ax-translate>features.vouchers.all.short-title</option>
        <option value="journal" ax-translate>features.vouchers.journal.short-title</option>
        <option value="cheques" ax-translate>features.vouchers.cheques.short-title</option>
        <option value="disimbursement" ax-translate>features.vouchers.disimbursement.short-title</option>
        <option value="cash-receipt" ax-translate>features.vouchers.cash-receipt.short-title</option>
      </select>
      <i class="fi-filter"></i>
    </span>
  </h1>

  <div class="button-container">
    <div ng-if="vouchers.selectedFilter == 'all'">
      <button ng-click="onAddVoucherWithMenuClicked()"
              ax-translate-attrs="{'aria-label': 'global.add'}">
        <i class="fi-plus"></i>
        <span ax-translate>global.add</span>
      </button>
      <ul id="acc-voucher-kind-select" class="f-dropdown" ng-if="menuVisible">
        <li><a tabindex="0" ng-click="onAddVoucherClicked(JRN)" ax-enter-click ax-translate>features.vouchers.journal.title</a></li>
        <li><a tabindex="0" ng-click="onAddVoucherClicked(CHQ)" ax-enter-click ax-translate>features.vouchers.cheques.title</a></li>
        <li><a tabindex="0" ng-click="onAddVoucherClicked(DIS)" ax-enter-click ax-translate>features.vouchers.disimbursement.title</a></li>
        <li><a tabindex="0" ng-click="onAddVoucherClicked(CSH)" ax-enter-click ax-translate>features.vouchers.cash-receipt.title</a></li>
      </ul>
    </div>
    <div ng-if="vouchers.selectedFilter != 'all'">
      <button ng-click="onAddVoucherClicked()" ax-translate-attrs="{'aria-label': 'global.add'}">
        <i class="fi-plus"></i>
        <span ax-translate>global.add</span>
      </button>
    </div>
  </div>

  <div class="search-field">
    <input type="text" ng-model="vouchers.textFilter" ax-translate-attrs="{'aria-label': 'global.search', 'placeholder': 'global.search'}">
    <i class="fi-magnifying-glass"></i>
  </div>

  <div class="row full collapse date-filter">
    <div class="columns small-6">
      <label for="vch-filter-from-date" ax-translate>global.from-date</label>
      <input id="vch-filter-from-date" type="date" ng-model="vouchers.fromDate">
    </div>
    <div class="columns small-6">
      <label for="vch-filter-to-date" ax-translate>global.to-date</label>
      <input id="vch-filter-to-date" type="date" ng-model="vouchers.toDate">
    </div>
  </div>

  <div class="panel voucher-list grid">
    <div class="row title">
      <ax-ftue key="voucher-order" text="features.vouchers.ftue.order" position="top left"></ax-ftue>
      <div class="columns small-2">
        <div ng-class="{'selected': vouchers.orderColumn === 'date', 'reverse': vouchers.isReverse}" 
             ng-click="setOrderColumn('date')">
          <span ax-translate>features.vouchers.date</span>
        </div>
      </div>
      <div class="columns small-2 medium-2 large-1">
        <div ng-class="{'selected': vouchers.orderColumn === 'key', 'reverse': vouchers.isReverse}" 
             ng-click="setOrderColumn('key')">
          <span ax-translate>features.vouchers.key</span>
        </div>
      </div>
      <div class="columns hide-for-small-only medium-2 large-3">
        <div ng-class="{'selected': vouchers.orderColumn === 'description', 'reverse': vouchers.isReverse}" 
             ng-click="setOrderColumn('description')">
          <span ax-translate>features.vouchers.description</span>
        </div>
      </div>
      <div class="columns hide-for-small-only medium-2">
        <div ng-class="{'selected': vouchers.orderColumn === 'kind', 'reverse': vouchers.isReverse}"
             ng-click="setOrderColumn('kind')">
          <span ax-translate>features.vouchers.kind</span>
        </div>
      </div>
      <div class="columns small-4 medium-2">
        <div ng-class="{'selected': vouchers.orderColumn === 'debits', 'reverse': vouchers.isReverse}" 
             ng-click="setOrderColumn('debits')">
          <span ax-translate>features.vouchers.debits</span>
        </div>
      </div>
      <div class="columns small-4 medium-2">
        <div ng-class="{'selected': vouchers.orderColumn === 'credits', 'reverse': vouchers.isReverse}" 
             ng-click="setOrderColumn('credits')">
          <span ax-translate>features.vouchers.credits</span>
        </div>
      </div>
    </div>

    <ax-ftue class="grid-ftue" key="voucher-click-to-edit" text="features.vouchers.ftue.grid" position="bottom center" 
             ng-if="items.length > 0"></ax-ftue>
    <div class="row" ng-click="onEditVoucherClicked(item)"
         ng-repeat="item in items | filter: vouchers.textFilter | filter: (!!vouchers.kind || undefined) && { kind: vouchers.kind } | DateRangeFilter: vouchers.fromDate:vouchers.toDate | orderBy: vouchers.orderColumn: vouchers.isReverse">
      <div class="columns small-2">
        <div>{{item.date | date}}</div>
      </div>
      <div class="columns small-2 medium-2 large-1">
        <div>{{item.key}}</div>
      </div>
      <div class="columns hide-for-small-only medium-2 large-3">
        <div>{{item.description}}</div>
      </div>
      <div class="columns hide-for-small-only medium-2">
        <div>{{item.kindText}}</div>
      </div>
      <div class="columns small-4 medium-2 currency">
        <div>{{item.debits | currency}}</div>
      </div>
      <div class="columns small-4 medium-2 currency">
        <div>{{item.credits | currency}}</div>
      </div>
    </div>

  </div>
</div>