<div class="base-vouchers">
  <h1 ax-translate>features.vouchers.title</h1>

  <div class="button-container">
    <div>
      <button data-dropdown="acc-voucher-kind-select" aria-controls="acc-voucher-kind-select"
              ax-translate-attrs="{'aria-label': 'global.add'}">
        <i class="fi-plus"></i>
        <span ax-translate>global.add</span>
      </button>
      <ul id="acc-voucher-kind-select" class="f-dropdown" data-dropdown-content>
        <li><a tabindex="0" ng-click="onAddVoucherClicked(1)" ax-translate>features.vouchers.journal.title</a></li>
        <li><a tabindex="0" ng-click="onAddVoucherClicked(2)" ax-translate>features.vouchers.cheques.title</a></li>
        <li><a tabindex="0" ng-click="onAddVoucherClicked(3)" ax-translate>features.vouchers.disimbursement.title</a></li>
        <li><a tabindex="0" ng-click="onAddVoucherClicked(4)" ax-translate>features.vouchers.cash-receipt.title</a></li>
      </ul>
    </div>
  </div>

  <div class="search-field">
    <input type="text" ng-model="vouchers.textFilter" ax-translate-attrs="{'aria-label': 'global.search', 'placeholder': 'global.search'}">
    <i class="fi-magnifying-glass"></i>
  </div>

  <div class="panel voucher-list">
    <div class="row title">
      <div class="columns small-4">
        <div ng-class="{'selected': vouchers.orderColumn === 'date', 'reverse': vouchers.isReverse}" 
             ng-click="setOrderColumn('date')">
          <span ax-translate>features.vouchers.date</span>
        </div>
      </div>
      <div class="columns small-4">
        <div ng-class="{'selected': vouchers.orderColumn === 'key', 'reverse': vouchers.isReverse}" 
             ng-click="setOrderColumn('key')">
          <span ax-translate>features.vouchers.key</span>
        </div>
      </div>
      <div class="columns small-4">
        <div ng-class="{'selected': vouchers.orderColumn === 'description', 'reverse': vouchers.isReverse}" 
             ng-click="setOrderColumn('description')">
          <span ax-translate>features.vouchers.description</span>
        </div>
      </div>
    </div>

    <div class="row" ng-repeat="item in items | filter: vouchers.textFilter | orderBy: vouchers.orderColumn: vouchers.isReverse">
      <div class="columns small-4">
        <div>{{item.date}}</div>
      </div>
      <div class="columns small-4">
        <div>{{item.key}}</div>
      </div>
      <div class="columns small-4">
        <div>{{item.description}}</div>
      </div>
    </div>
  </div>
</div>