$notification-width: rem-calc(400);

.notification-service {
  position: fixed;
  width: $notification-width;
  height: rem-calc(90);
  background-color: $background-medium;
  border: 1px solid $border-color-medium;
  color: $text-color;

  &.top {
    top: rem-calc(10);
  }

  &.bottom {
    bottom: rem-calc(10);
  }

  button {
    position: absolute;
    top: 0;
    #{$opposite-direction}: rem-calc(-20);
    background: transparent;
    outline: none;
  }

  &.right {
    #{$opposite-direction}: -$notification-width;
    transition: $opposite-direction $transition-time;

    &.slide-in {
      #{$opposite-direction}: 0 !important;
    }
  }

  &.left {
    #{$default-float}: -$notification-width;
    transition: $default-float $transition-time;

    &.slide-in {
      #{$default-float}: 0 !important;
    }
  }

  &.error, &.alert {
    background-color: $alert-color;
    border: 1px solid $alert-color-lt;
    color: $text-color-inverse;

    button {
      &:hover {
        color: $alert-color-dk;
      }
    }
  }

  &.success {
    background-color: $success-color;
    border: 1px solid $success-color-lt;
    color: $text-color-inverse;

    button {
      &:hover {
        color: $success-color-dk;
      }
    }
  }

  &.info {
    background-color: $info-color;
    background-color: $info-color-lt;
    color: $text-color-inverse;

    button {
      &:hover {
        color: $info-color-dk;
      }
    }
  }

  .icon {
    font-size: $font-size-xxlarge;
    padding: rem-calc(27);
  }

  .message {
    position: absolute;
    top: 0;
    #{$default-float}: rem-calc(80);
    width: rem-calc(310);
    height: 100%;
    padding-top: 5%;
  }
}