.account-modal {
  @media #{$medium-only} {
    margin-top: rem-calc(-50) !important;
  }

  .account-kind {
    color: $text-color-xlight;
    font-size: $font-size-normal;
  }

  .currency {
    input {
      padding-#{$default-float}: rem-calc(22);
    }

    &:before {
      position: absolute;
      top: rem-calc(27);
      #{$default-float}: rem-calc(23);
      content: '$';
      font-size: $font-size-medium;
      color: $text-color-light;
    }
  }
}