.base-home {
  h1 {
    text-align: center;
  }

  .logo {
    position: absolute;
    top: rem-calc(10);
    #{$opposite-direction}: rem-calc(10);

    img {
      max-width: rem-calc(200);
    }
  }

  .menu-ftue {
    position: absolute;
    top: rem-calc(-38);
  }
}