.voucher-modal {
  @media #{$medium-only} {
    margin-top: rem-calc(-50) !important;
    width: 95% !important;
  }

  .voucher-kind {
    color: $text-color-xlight;
    font-size: $font-size-normal;
  }

  .grid {
    margin-bottom: rem-calc(10);
  }

  .tally-status {
    margin-top: rem-calc(24);

    i {
      font-size: $font-size-large;

      &.fi-check {
        color: $success-color;
      }

      &.fi-x {
        color: $alert-color;
      }
    }
  }
}